.trends {
    width: 38%;
    overflow-y: auto; /* Adds vertical scrollbar if necessary */
    overflow-x: hidden;
    max-height: 100vh;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

@media only screen and (max-width: 1200px) {
    .trends {
        width: 17%;
    }
}