body {
  background-color: black !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.page {
  display: flex;
  height: 100vh;
}

.page-content {
  overflow-y: auto;
  width: 46%;
  max-height: 100vh;
}

.page-content::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width: 1200px) {
  .page-content {
      width: 60%;
  }
}